<!DOCTYPE html>
<html ng-app="game">
<head>
	<title>Chess</title>
	<script src="../../vendors/pusher.js"></script>
	<script src="../../vendors/angular.min.js"></script>
	<script src="../../vendors/angular-resource.min.js"></script>
	<script src="../js/resources/game.js"></script>
	<script src="../js/board.js"></script>
	<script src="../js/piece.js"></script>
	<script src="../js/player.js"></script>
	<script src="../js/square.js"></script>
	<script src="../js/pieces/king.js"></script>
	<script src="../js/pieces/queen.js"></script>
	<script src="../js/pieces/rook.js"></script>
	<script src="../js/pieces/bishop.js"></script>
	<script src="../js/pieces/knight.js"></script>
	<script src="../js/pieces/pawn.js"></script>
	<link rel="stylesheet" type="stylesheet" href="../css/board.css">
</head>
<body>
	<h1 ng-bind="opp.name"></h1>
	<table id="board" class="table" ng-controller="BoardCtrl">
		<tbody>
			<tr ng-repeat="row in rows">
				<td ng-repeat="column in columns" class="square">
					<div class="square {{squares[row][column].color}}" 
						ng-click="action(row, column)"
						ng-class="{blue:selected == squares[row][column]}">
						<span ng-bind="squares[row][column].piece.img"
							ng-class="squares[row][column].piece.player.color" >
						</span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<h1 ng-bind="me.name"></h1>



</body>
<footer>
	&copy Banner B. Schafer 2013
</footer>
</html>

