<!DOCTYPE html>
<html ng-app>
<head>
	<title>Chess</title>
	<script src="../../vendors/angular.min.js"></script>
	<script src="../js/board.js"></script>
	<script src="../js/piece.js"></script>
	<script src="../js/player.js"></script>
	<script src="../js/square.js"></script>
	<script src="../js/pieces/king.js"></script>
	<script src="../js/pieces/queen.js"></script>
	<script src="../js/pieces/rook.js"></script>
	<script src="../js/pieces/bishop.js"></script>
	<script src="../js/pieces/knight.js"></script>
	<script src="../js/pieces/pawn.js"></script>
	<link rel="stylesheet" type="stylesheet" href="../css/board.css">
</head>
<body>

	<table id="board" class="table" ng-controller="BoardCtrl">
		<tbody>
			<tr ng-repeat="row in rows">
				<td ng-repeat="column in columns" class="square">
					<div class="square {{squares[$parent.$index][$index].color}}" 
						ng-click="action($parent.$index, $index)"
						ng-class="{blue:selected == squares[$parent.$index][$index]}">
						<span ng-bind="squares[$parent.$index][$index].piece.img"
							ng-class="squares[$parent.$index][$index].piece.player.color" >
						</span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>



</body>
<footer>
	&copy Banner B. Schafer 2013
</footer>
</html>

