<!DOCTYPE html>
<html ng-app="chess">
<head>
	<title>Purple Chess</title>
    <link rel="stylesheet" type="text/css" href="../../vendors/bootstrap/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="../../vendors/bootstrap/css/bootstrap-theme.min.css"></link>
    <link rel="stylesheet" type="text/css" href="../css/purple.css"></link>
</head>
<body ng-controller="LoginCtrl">
    
    <nav class="navbar navbar-inverse" role="navigation">
   		<div class="collapse navbar-collapse navbar-ex1-collapse">
	        <a class="navbar-brand" href="/">Purple Chess</a>
	        <a class="navbar-brand navbar-right" ng-show="me">Logout ({{me.info.name}})</a>
	    </div>
	</nav>

	<h1 class="h-center purple">PurpleChess</h1><br>
    

	<div class="row" ng-show="!me">
	    <div class="col-md-4 well" ng-click="loginModal()">
	        <h3 class="h-center">Login</h3>
	    </div>
	    <div class="col-md-4 well" ng-click="registerModal()">
	        <h3 class="h-center">Register</h3>
	    </div>
	    <div class="col-md-4 well" ng-click="guest()">
	        <h3 class="h-center">Guest</h3>
	    </div>
	</div>

	<div class="row" ng-show="me">
		<div class="col-md-4 col-md-offset-1">
			<h3 class="h-center">Online Users</h3><hr>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Bullet</th>
						<th>Blitz</th>
						<th>Slow</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="member in members" ng-click="addHighlight(member)">
						<td>{{member.name}}</td>
						<td>{{member.rating.bullet}}</td>
						<td>{{member.rating.blitz}}</td>
						<td>{{member.rating.slow}}</td>
					</tr>
				</tbody>
			</table>
		</div>


		<div class="col-md-4 col-md-offset-2">
			<h3 class="h-center">Highlighted User</h3><hr>
			<h4 class="h-center"><strong>Name:</strong> <span ng-bind="highlight.name"></span></h4>
			<h4 class="h-center"><strong>Bullet:</strong> <span ng-bind="highlight.rating.bullet"></span></h4>
			<h4 class="h-center"><strong>Blitz:</strong> <span ng-bind="highlight.rating.blitz"></span></h4>
			<h4 class="h-center"><strong>Slow:</strong> <span ng-bind="highlight.rating.slow"></span></h4>
			<p class="h-center" ng-show="highlight != me.info">
				<button class="btn btn-success">Challenge Bullet</button>
				<button class="btn btn-info">Challenge Blitz</button>
				<button class="btn btn-warning">Challenge Slow</button>
			</p>
		</div>

	</div>



	<!-- LOGIN MODAL -->
	<div class="modal fade" id="loginModal">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title">Login</h4>
	            </div>
	            <div class="modal-body">
	                <form role="form">
	                    <div class="form-group">
	                        <label for="exampleInputEmail1">Email address</label>
	                        <input type="email" class="form-control" id="exampleInputEmail1" ng-model="login.email" placeholder="Enter email">
	                    </div>
	                    <div class="form-group">
	                        <label for="exampleInputPassword1">Password</label>
	                        <input type="password" class="form-control" ng-model="login.password" id="exampleInputPassword1" placeholder="Password">
	                    </div>
	                </form>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	                <button type="button" class="btn btn-primary" ng-click="login()">Login</button>
	            </div>
	        </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<!-- END LOGIN MODAL -->

	<!-- REGISTER MODAL -->
	<div class="modal fade" id="registerModal">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title">Register</h4>
	            </div>
	            <div class="modal-body">
	                <p class="text-danger" ng-show="user.errors">Form errors: </p>
	                <form name="loginForm" class="simple-form">
	                    <div class="form-group">
	                        <label>User Name</label>
	                        <input ng-model="user.name" class="form-control" required>
	                    </div>
	                    <div class="form-group">
	                        <label>Email address</label>
	                        <input type="email" class="form-control" ng-model="user.email" name="user.email" required>
	                    </div>
	                    <div class="form-group">
	                        <label>Password</label>
	                        <input type="password" class="form-control" name="user.password" ng-model="user.password" required>
	                    </div>
	                    <hr>
	                    <div class="pull-right">
	                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	                        <button class="btn btn-primary" ng-disabled="!loginForm.$valid" ng-click="register()">Register</button>
	                    </div>
	                    <br><br>
	                </form>
	            </div>

	        </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<!-- END REGISTER MODAL -->





	<hr>
	<footer class="footer h-center">
	    <p>&copy Banner B. Schafer 2013</p>
	</footer>

    

    
</body>

<script src="../../vendors/pusher.js"></script>
<script src="../../vendors/angular.min.js"></script>
<script src="../../vendors/jquery.min.js"></script>
<script src="../../vendors/bootstrap/bootstrap.min.js"></script>
<script src="../../vendors/angular-resource.min.js"></script>
<script src="../../vendors/angular-bootstrap.min.js"></script>
<script src="../js/resources/auth.js"></script>
<script src="../js/login.js"></script>

</html>