.square {
	width:100px;
	height:100px;
	padding: 0px;
}

.table {
	border-spacing: 0px;
	border-collapse: collapse;
	border:1px solid #000;	
}

.black {
	color: black;
}

.white {
	color: white;
}

.green {
	background-color: green;
}

.gray {
	background-color: #FFD98C;
}

.blue {
	background-color: blue;
}

.blackPi {
	color: black;
}

.whitePi {
	color: white;
}

.greenPi {
	color: green;
}

.bluePi {
	color: blue;
}

.grayPi {
	color: #404040;
}
